#Sheet
{
	background:#fbe790;
}
.header
{
	font-style:oblique;
	font-size: 25px;
	font-weight:bold;
	position: relative;
	left:380px;
}
.header_title
{
	font-style:oblique;
	font-size: 30px;
	font-weight:bold;
	position: relative;
	left:900px;
}
.text
{
	position: relative;
	left:380px;
}